* {
    box-sizing: border-box;
}

html {
    margin: 0 12px;
}

header {
    text-align: center;
    background-color:olive;
    color: seashell;
}

h1 {
    padding: 12px;
}

form {
    border-bottom: 2px solid black;

}

input {
    margin: 4px 0;
}

button {
    margin: 4px 0;
}

.currentDash {
    border: 2px solid black;
}

.card {
    background-color: darkslategray;
    color: seashell;
}

.search {
    background-color: slateblue;
    color: seashell;
}
